{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static  'css/home.css' %}">
    </head>
    <body>
        <div class="button-container">
            <a href="/hand_history/" class="button">Hand history </a>
            <a href="/charts/" class="button">Winnings graphs</a>
            <a href="/waiting_room/" class="button">Game</a>
        </div>
    </body>
</html>