<div class="layout">
    <div class="top bar">
      <div class="buttons">
        <button type="button"><div class="icon"></div></button>
      </div>
      <div class="buttons player-buttons">
        <button type="button"><div class="icon"></div></button>
        <button type="button"><div class="icon"></div></button>
        <button type="button"><div class="icon"></div></button>
      </div>
    </div>
    <div class="middle">
      <div class="table">
        <div class="seat s1">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s2">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s3">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s4">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s5">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s6">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s7">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>

        </div>
        <div class="seat s8">
          <div class="seat-body">
            <div class="player-name">Player name</div>
            <div class="player-bank">$123,456</div>
          </div>
          <div class="seat-action">Call</div>
        </div>
      </div>
    </div>
    <div class="bottom bar">
      <div class="buttons">
        <button type="button">Chat</button>
      </div>
      <div class="buttons action-buttons">
        <button type="button">Fold</button>
        <button type="button">Check</button>
        <button type="button">Raise</button>
      </div>
    </div>
  </div>
  
  <div class="tools">
    <input id="widthInp" type="number" value="3840" />
    <input id="heightInp" type="number" value="2160" />
    <select id="deviceInp"></select>
  </div>