{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "index.html" %}
</head>
<body>
    {% include "WebSocket.html" %}
    <div id="round_state">
        <div id="round-state-table" class="img-rounded">
            {% for player in players %}
                <div class="seat s{{ forloop.counter }}">
                    <p>{{ player.name }}</p>
                    <p>{{ player.stack }}</p>
                </div>
            {% endfor %}
            <div id="community_card" class="community_card">
                {% if round_state.community_card|length > 0 %}
                    <h4 class="round-state-table-text"></h4>
                    {% for card in round_state.community_card %}
                      <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                      <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                      <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                      <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                      <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pot">
                    <!-- main pot -->
                <img src="{% static 'images/poker_pot.png' %}">
                <h4 class="main_pot">${{ round_state.pot.main.amount }}</h4>
            </div>
           
            <div>
                {% include "button_action.html" %}   
            </div>
            
        </div>
    </div>


</body>
</html>
