{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Rules</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="rule_box">
        <h2 class="sub-header">Rule</h2>
        <div id="game_rule">
            <form method="post" action="{% url 'waiting_room' %}">
                {% csrf_token %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Stack</th>
                            <th>Big Blind</th>
                            <th>Ante</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ config_form.initial_stack }}</td>
                            <td>{{ config_form.small_blind }}</td>
                            <td>{{ config_form.ante }}</td>
                            <td>
                                <button type="submit" class="btn btn-primary">Update Config</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {% include "list_player.html" %}
        {% include "hero_registration.html" %}
    </div>

</body>
</html>
