body {
    font-family: Arial, sans-serif;
    background-color: #98ec70;
    margin: 0;
    padding: 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .round {
    height: 35px;
    font-size: 2em;
    text-align: center;
    padding: 3px;
    /* margin-top: 10px; */
  }

  .img-rounded {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .card {
    width: 65px;
    height: 100px;
    margin: 5px;
  }

  #round-state-table {

    width: 1000px; /* ustalona szerokość */
    height: 740px;
    margin: 0px auto;
    padding: 0; 
    background-color: #2E7D32;
    border-radius: 310px;
  }

  .round-state-table-text {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  #pot img {
    display: block;
    margin: 0 auto;
  }
  
  .col-xs-3, .col-xs-2 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Stylowanie dla przycisków */
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.community_card {
  text-align:center;
  vertical-align:center;
  line-height: 600px;

}
/*e default border to pxove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.card-small {
  width: 20%
}

.pot {
  top: 380px; 
  left: 850px;
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
}

.pot img {
  width: 100%; /* Ustaw szerokość ikony na pełną szerokość kontenera */
  height: auto; /* Automatyczna wysokość proporcjonalna do szerokości */
}

.main_pot {
  text-align: center;
  margin-top: 5px; /* Odstęp na górę między ikoną a wartością */
  font-size: 16px; /* Rozmiar czcionki wartości */
  color: #fff; /* Kolor tekstu wartości */
}

.info-box {
  background-color: #f9f9f9;
  padding: 10px;       /* margines wewnętrzny */
  margin-top: 0px;
  margin-left: 0;
  width: 40%;
  max-width: 35%;      /* maksymalna szerokość */
}

#event_content {
  padding: 10px;
}

/* option class for icon size*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* option class for icon color */
.material-icons.color-ai { color: #E8F5E9; }
.material-icons.color-ai.inactive { color: #212121; }
.material-icons.color-ai.dark { color: #43A047; }
.material-icons.color-ai.dark.inactive { color: #212121; }
.material-icons.color-human { color: #FAFAFA; }
.material-icons.color-human.inactive { color: #212121; }
.material-icons.color-human.dark { color: #757575; }
.material-icons.color-human.dark.inactive { color: #212121; }
.material-icons.color-decision { color: #e4e72b; }
.material-icons.orange600 { color: #FB8C00; }
 
.material-icons.md-dark { color: rgba(0, 0, 0, 1.0); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.custom-button {
  background-color: #4CAF50; /* Zielony kolor tła */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-action {
  display: flex;
  flex-direction: row; /* Ustawienie kierunku na wiersz */
  justify-content: flex-end; /* Wyrównanie przycisków do prawej */
  align-items: center; /* Wyrównanie przycisków do środka w pionie */
  width: 83%; /* Dodanie szerokości 100% dla kontenera */
}
.button {
  justify-content: right;
  align-items: center;
  font-size: 17px;
  width: 120px; /* Szerokość przycisku */
  height: 50px; /* Wysokość przycisku */
  display: grid;
  padding: 10px 20px;
  background-color: #ac1838; /* Kolor tła przycisku */
  color: #030000; /* Kolor tekstu */
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
  max-width: 150px;
  text-align: center;
  margin-bottom: 10px;
}


.player-cards {
  width: 150px;
  padding-top: 10px;
/* Adjust as needed */

}


.seat {
  position: absolute;
  width: 153px;
  height: 133px;
  border-radius: 60px;
  top: 300px;
  left: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  line-height: 50px; /* Ustawienie wysokości linii na wysokość siedzenia */
}

.seat .seat-body {
  padding: 5px 10px; /* Zmniejszenie wcięcia */
}

.seat-body .player-name,
.seat-body .player-bank {
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis; /* Wyświetlanie elipsy dla nadmiarowego tekstu */
}

.seat .seat-action {
  font-size: 1.2em;
  color: #fff;
}

.seat.s1 {
  top: 325px;
  left: 450px;
}
.seat.s2 {
  top: 70px;
  left: 650px;
}
.seat.s3 {
  top: 70px;
  left: 1000px;
}
.seat.s4 {
  top: 325px;
  left: 1200px;
}
.seat.s5 {
  top: 525px;
  left: 1000px;
}
.seat.s6 {
  top: 525px;
  left: 650px;
}