body {
  font-family: Arial, sans-serif;
  background-color: #98ec70;
  margin: 0;
  padding: 0;
}
  .text-center {
    text-align: center;
  }

  

  .round {
    height: 35px;
    font-size: 2em;
    text-align: center;
    padding: 3px;
    /* margin-top: 10px; */
  }

  .img-rounded {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #round-state-table {
    position: relative;
    width: 1000px; /* ustalona szerokość */
    height: 740px;
    margin: 0px auto;
    padding: 0; 
    background-color: #2E7D32;
    border-radius: 310px;
  }

    


  .player-cards {
    display: flex; /* Ustawia karty w linii */
    align-items: center; /* Wyrównuje karty w pionie, jeśli mają różne wysokości */
    justify-content: flex-start;
    position: relative; /* Ustawia karty od lewej do prawej */
    top: -100%;
    left: 95%;
  }

  .card {
    width: 70px;
    height: 110px;
    margin: 3px;
  }

  .player-folded,
  .player-active {
    text-align: center;
    width: 120px; /* ustalona szerokość */
    height: 120px;
/* zmiana na flex */
    flex-direction: column; /* układ kolumnowy */
 /* wyrównanie w pionie */
    justify-content: center; /* wyrównanie w poziomie */
  }

  .player-info {
    text-align: center;
    width: 120px; /* ustalona szerokość */
    height: 60px;
    display: flex; /* zmiana na flex */
    flex-direction: column; /* układ kolumnowy */
    align-items: center; /* wyrównanie w pionie */
    justify-content: center; /* wyrównanie w poziomie */
  }
  

body {
  padding-top: 0px;
  padding-bottom: 50px;
}


.community_card {
  text-align:center;
  vertical-align:center;
  line-height: 570px;

}




.pot {
  top: 50%;
  left: 45%;
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
}

.pot img {
  width: 100%; /* Ustaw szerokość ikony na pełną szerokość kontenera */
  height: auto; /* Automatyczna wysokość proporcjonalna do szerokości */
}

.main_pot {
  text-align: center;
  margin-top: 5px; /* Odstęp na górę między ikoną a wartością */
  font-size: 16px; /* Rozmiar czcionki wartości */
  color: #fff; /* Kolor tekstu wartości */
}



/* option class for icon size*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* option class for icon color */
.material-icons.color-ai { color: #E8F5E9; }
.material-icons.color-ai.inactive { color: #212121; }
.material-icons.color-ai.dark { color: #43A047; }
.material-icons.color-ai.dark.inactive { color: #212121; }
.material-icons.color-human { color: #FAFAFA; }
.material-icons.color-human.inactive { color: #212121; }
.material-icons.color-human.dark { color: #757575; }
.material-icons.color-human.dark.inactive { color: #212121; }
.material-icons.color-decision { color: #e4e72b; }
.material-icons.orange600 { color: #FB8C00; }
 
.material-icons.md-dark { color: rgba(0, 0, 0, 1.0); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



.seat {
  position: absolute;
  width: 15%;
  height: 18%;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
}

.seat .seat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  height: 100%; /* Dodane, aby zajmować całe dostępne miejsce */
}

.seat-body .player-name,
.seat-body .player-bank {
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.seat .seat-action {
  font-size: 1.2em;
  color: #fff;
}

/* Pozycjonowanie miejsc względem kontenera stołu */
.seat.s1 {
  top: 78%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.seat.s2 {
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.seat.s3 {
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.seat.s4 {
  top: 10%;
  left: 69%;
  transform: translate(-50%, -50%);
}

.seat.s5 {
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
}

.seat.s6 {
  top: 78%;
  left: 69%;
  transform: translate(-50%, -50%);
}

.custom-button {
  background-color: #4CAF50; /* Zielony kolor tła */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-action {
  display: flex;
  flex-direction: row; /* Ustawienie kierunku na wiersz */
  justify-content: flex-end; /* Wyrównanie przycisków do prawej */
  align-items: center; /* Wyrównanie przycisków do środka w pionie */
  width: 83%;
  line-height: 220px; /* Dodanie szerokości 100% dla kontenera */
}
.button {
  justify-content: right;
  align-items: center;
  font-size: 17px;
  width: 120px; /* Szerokość przycisku */
  height: 50px; /* Wysokość przycisku */
  display: grid;
  padding: 10px 20px;
  background-color: #ac1838; /* Kolor tła przycisku */
  color: #030000; /* Kolor tekstu */
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
  max-width: 150px;
  text-align: center;
  margin-bottom: 10px;
}


