body {
    background-image: url('media_root/main.jpg');
    background-size: cover; /* Dopasowanie tła do rozmiaru okna przeglądarki */
    background-repeat: no-repeat; /* Wyłączenie powtarzania tła */
}
.button {
    display: grid;
    padding: 10px 20px;
    background-color: #0d5097; /* Kolor tła przycisku */
    color: #030000; /* Kolor tekstu */
    border: 1px solid #f2f4f5;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
    max-width: 150px;
}
