body {
    background-image: url('/static/images/main.jpg');
    background-size: cover; /* Dopasowanie tła do rozmiaru okna przeglądarki */
    background-repeat: no-repeat; /* Wyłączenie powtarzania tła */
}
.button {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 200px; /* Szerokość przycisku */
    height: 50px; /* Wysokość przycisku */
    display: grid;
    padding: 10px 20px;
    background-color: #ac1838; /* Kolor tła przycisku */
    color: #030000; /* Kolor tekstu */
    border: 1px solid #f2f4f5;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
    max-width: 150px;
    text-align: center;
    margin-bottom: 10px;
}

.button-container {
    
    display: flex;
    flex-direction: column; /* Ustawienie kierunku na kolumnę */
    align-items: flex-end; /* Wyrównanie przycisków do prawej */
    margin-top: 200px;
    margin-right: 160px;
}