
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* option class for icon color */
.material-icons.color-ai { color: #E8F5E9; }
.material-icons.color-ai.inactive { color: #212121; }
.material-icons.color-ai.dark { color: #43A047; }
.material-icons.color-ai.dark.inactive { color: #212121; }
.material-icons.color-human { color: #FAFAFA; }
.material-icons.color-human.inactive { color: #212121; }
.material-icons.color-human.dark { color: #757575; }
.material-icons.color-human.dark.inactive { color: #212121; }
.material-icons.color-decision { color: #e4e72b; }
.material-icons.orange600 { color: #FB8C00; }
 
.material-icons.md-dark { color: rgba(0, 0, 0, 1.0); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
