body {
    background-image: url('/static/images/main.jpg');
    background-size: cover; /* Dopasowanie tła do rozmiaru okna przeglądarki */
    background-repeat: no-repeat; /* Wyłączenie powtarzania tła */
}
.button {
    align-items: center;
    width: 200px; /* Szerokość przycisku */
    height: 30px; /* Wysokość przycisku */
    outline: none; /* Usuwa domyślną obwódkę */
    padding: 10px 20px;
    background-color: #ac1838; /* Kolor tła przycisku */
    color: #030000; /* Kolor tekstu */
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
    max-width: 150px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 30px 5px rgb(0, 0, 0);
    -moz-box-shadow: 3px 3px 30px 5px rgba(0, 0, 0);
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0);
    transition-duration: 0.4s;
    font-size: 22px;
    text-transform: uppercase;
}
  
  .button:hover {
    background-color: aliceblue;
    color: #000000;
    border: 1px solid #000000;
  }
  
  .button.active {
    background-color: #000000;
    color: #fff;
    border: 2px solid #ffeb3b; /* Jasnożółty kolor obwódki, aby była bardziej widoczna */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }



.button-container {
    align-items: center;
    display: flex;
    flex-direction: column; /* Ustawienie kierunku na kolumnę */
    align-items: flex-end; /* Wyrównanie przycisków do prawej */
    margin-top: 200px;
    margin-right: 160px;


}