/* style.css */

.button {
  display: grid;
  padding: 10px 20px;
  background-color: #0d5097; /* Kolor tła przycisku */
  color: #030000; /* Kolor tekstu */
  border: 1px solid #f2f4f5;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none; /* Usunięcie podkreślenia dla odnośnika */
  max-width: 150px;
  text-align: center
}

table {
  width: 100%;
  text-align: center;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

/* Ogólne ustawienia dla całej strony */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

/* Stylizacja dla nagłówka tabeli */
h2.sub-header {
  text-align: center;
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Stylizacja dla rules */
#rule_box {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stylizacja dla players */
#player_box {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stylizacja dla players */
#input_box {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stylizacja dla tabeli */
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-align: center; /* Add this line */
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
  vertical-align: middle;
  border: 1px solid #dee2e6;
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 2px;
}

.center-input {
  text-align: center;
  width: 100px; /* Dopasuj szerokość wg potrzeb */
}

