{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declare Action Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/poker.js' %}"></script>
    
</head>
<body>
  
  <div class="button-panel">
    <form action="" method="post" id="declare_action_form">
    {% csrf_token %}
      <fieldset class="button-action">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="button" name="action" id="r1" value="fold" checked> FOLD
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="button" name="action" id="r2" value="check"> CHECK
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="button" name="action" id="r3" value="call"> CALL
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="button" name="action" id="r4" value="raise"> RAISE
          </label>
        </div>
        <div class="form-group" style="display: inline-block;">
          <input type="text" class="form-control" name="amount" id="raiseAmoutInput" placeholder="amount" style="width:70px">
        </div>
        <button type="submit">Declare Action</button>
      </fieldset>
    </form>
  </div>

</body>
</html>
