{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declare Action Form</title>
    
</head>
<body>
  <div class="button-panel">
    <form action="" method="post" id="declare_action_form">
        {% csrf_token %}
        <fieldset class="button-container">
            <input type="button" class="button-action" onclick="activateButton(this)" name="action" id="r1" value="fold">
            <input type="button" class="button-action" onclick="activateButton(this)" name="action" id="r2" value="check">
            <input type="button" class="button-action" onclick="activateButton(this)" name="action" id="r3" value="call">
            <input type="button" class="button-action" onclick="activateButton(this)" name="action" id="r4" value="raise">
            <div class="form-group" style="display: inline-block;">
                <input type="text" class="form-control" name="amount" id="raiseAmountInput" placeholder="amount" style="width:70px">
            </div>
            <button type="submit" class="button-action">Declare Action</button>
        </fieldset>
    </form>
  </div>

  </div>
  

</body>
</html>