<form action="{% url 'waiting_room' %}" method="post" id="initial_data">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Stack</th>
                <th>Big Blind</th>
                <th>Ante</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td >
                    {{ form_config_table.initial_stack }}
                </td>
                <td>
                    {{ form_config_table.small_blind }}
                </td>
                <td>
                    {{ form_config_table.ante }}
                </td>

            </tr>
                
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Confirm Change" class="btn btn-primary">
        <input type="hidden" name="next" value="{{ request.path }}">
    </div>
</form>
