
{% load static %}

<div id="player-{{ player.name }}" class="player">
    <i class="material-icons
    {% if player.state == 'folded' %}inactive{% endif %}">
    {% if player.name == 'Jacek' %}face{% else %}android{% endif %}
    </i>
    <div class="player-info" >
        <span id="player-uuid-{{ player.name }}">{{ player.uuid }}</span>
        <span id="player-name-{{ player.name }}">{{ player.name }}</span>
        <span id="player-stack-{{ player.name }}">${{ player.stack }}</span>
    </div>
    <div class="player-cards" id="player-cards-{{ player.name }}">
        {% if player.name == 'Jacek' and hole_card %}
            {% for card in hole_card %}
                <img class="card" src="{% static 'images/card_' %}{{ card }}.png" alt="{{ card }}">
            {% endfor %}
        {% endif %}
    </div>
</div>


