{% load static %}

<div id="player-{{ player.name }}" class="player">
    <i class="material-icons {% if player.state == 'folded' %}inactive{% endif %}">
        {% if player.type == 'human' %}
            face
        {% else %}
            android
        {% endif %}
    </i>

    <div class="player-info">
        <span id="player-uuid-{{ player.name }}">{{ player.uuid }}</span>
        <span id="player-name-{{ player.name }}">{{ player.name }}</span>
        <span id="player-stack-{{ player.name }}">${{ player.stack }}</span>
    </div>

    <!-- Używamy unikalnego id dla player-cards -->
    <div class="player-cards" id="player-cards-{{ player.name }}">
        {% if player.type == 'human' and hole_card %}
            {% for card in hole_card %}
                <img class="card" src="{% static 'images/card_' %}{{ card }}.png" alt="{{ card }}">
            {% endfor %}
        {% endif %}
    </div>
    <div class="chip-container chip-position-{{ player.idx }}"></div>
    {% comment %} <div class="cards-container player-position-{{ player.idx }}"></div> {% endcomment %}
</div>
