{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "index.html" %}
    <script src="{% static 'django-browser-reload/reload-listener.js' %}"></script>
</head>
<body>
    {% load django_browser_reload %}
    {% include "WebSocket.html" %}
    <div>
        <div id="round_state">
            <div id="round-state-table" class="img-rounded">
                {% for player in players %}
                    {% if player.idx == round_state.dealer_pos %}
                        <span class="label-dealer dealer-position-{{round_state.dealer_pos}}">D</span>
                    {% endif %}
                    {% if player.idx == round_state.small_blind_pos %}
                        <span class="label-blind dealer-position-{{round_state.small_blind_pos}}">SB</span>
                    {% endif %}
                    {% if player.idx == round_state.big_blind_pos %}
                        <span class="label-blind dealer-position-{{round_state.big_blind_pos}}">BB</span>
                    {% endif %}
                    <div class="seat s{{ forloop.counter }}">
                            
                        {% include "player.html" %}
                    </div>
                    

                    
                {% endfor %}
            <div id="community_card" class="community_card">
                {% if round_state.community_card|length > 0 %}
                    <h4 class="round-state-table-text"></h4>
                    {% for card in round_state.community_card %}
                        <img class="card" src="{% static 'images/card_{{ card }}.png' %}" alt="card">
                    {% endfor %}
                {% else %}
                    <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                    <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                    <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                    <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                    <img class="card" src="{% static 'images/card_B1.png' %}" alt="card">
                {% endif %}
            </div>
            <div class="pot">
                    <!-- main pot -->
                <img src="{% static 'images/poker_pot.png' %}">
                <h4 class="main_pot">${{ round_state.pot.main.amount }}</h4>
            </div>
           
            <div>
                {% include "button_action.html" %}   
            </div>
            
        </div>
    </div>


</body>
</html>
