{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "link_scripts.html" %}
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <div id="messages"></div>
    
    <!-- Umieść przycisk w odpowiednim miejscu -->
    <div id="round_state">
        <button class="button-GO" id="start-game"></button>
        <button class="button-restart" id="restart-game"></button>
        <img class="button-restart" src="/static/images/restart-icon.png">
        
        <!-- Reszta kodu -->
        <div id="round-state-table" class="img-rounded">
            <div class="card-slot"></div>
            <div id="poker-field">
                {% for player in players %}
                    <div id="player-{{ player.idx }}" class="seat s{{ forloop.counter }}
                    {% if round_state.next_player == player.name %}highlight{% endif %}">
                        {% if player.idx == round_state.dealer_btn %}
                            <span class="label-dealer dealer-position-{{round_state.dealer_btn}}">D</span>
                        {% endif %}
                        {% if player.idx == round_state.small_blind_pos %}
                            <span class="label-blind dealer-position-{{round_state.small_blind_pos}}">SB</span>
                        {% endif %}
                        {% if player.idx == round_state.big_blind_pos %}
                            <span class="label-blind dealer-position-{{round_state.big_blind_pos}}">BB</span>
                        {% endif %}
                        {% include "player.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div id="community_card" class="community_card">
            {% if round_state.community_card|length > 0 %}
                <h4 class="round-state-table-text"></h4>
                {% for card in round_state.community_card %}
                    <img class="card" src="/static/images/card_{{ card }}.png" alt="card">
                {% endfor %}
            {% endif %}
        </div>
        
        <img class="pot_img" src="/static/images/poker_pot.png">
        <div class="main_pot">$0</div>
        
        <div>
            {% include "button_action.html" %}
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/poker.js' %}"></script>
</body>
</html>
